/**
 * Kollegorna theme for reveal.js.
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #F4E7B7;
$blockMargin: 0.75rem;

$mainFontSize: 20px;
$mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$mainColor: #403E35;

$headingFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFontWeight: 300;
$headingMargin: 0;
$headingColor: $mainColor;
$heading1Size: 3em;
$heading2Size: 1.65em;
$heading3Size: 1.4em;
$heading4Size: 1.2em;

$linkColor: #F77916;
$linkColorHover: #CC0016;

$selectionBackgroundColor: rgba(0,0,0,0.7);
$selectionColor: $backgroundColor;


// Orange gradient bar
hr {
  border: none;
  margin: 1.75em 0;
}
.gradient-border,.gradient-break { 
  display:inline-block
}
.gradient-border:after,.gradient-break:after { 
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;
  background-size:100%;
  background-image:-webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f77916), color-stop(100%, #d36107));
  background-image:-moz-linear-gradient(left top, #f77916, #d36107);
  background-image:-webkit-linear-gradient(left top, #f77916, #d36107);
  background-image:linear-gradient(to right bottom, #f77916, #d36107);
  content:" ";
  display:block;
  height:3px;
  overflow:hidden;
  width: 200px;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
